<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property name="LOG_FILE" value="${user.home}/tmp/blamer-test.log"/>
  <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %date{ISO8601} %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <appender name="SQL_FILE" class="ch.qos.logback.core.FileAppender">
    <file>${user.home}/tmp/blamer-sql-test.log</file>
    <append>true</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %date{ISO8601} %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <root level="WARN">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="org.springframework" level="info">
  </logger>

  <logger name="com.koenighotze" level="debug">
  </logger>

  <logger name="org.hibernate" level="debug" additivity="false">
    <appender-ref ref="SQL_FILE"/>
  </logger>
</configuration>